services:

  postgres:

  postgres-migrate:
    command: ["migrate"]

  dataset-loader:
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "./index.py"]

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: runtime

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: runtime

  caddy:
    ports:
      - "443:443"
