services:
  postgres-migrate:
    command: ["migrate"]
  
  dataset-loader:
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "./index.py"]
    depends_on:
      postgres-migrate:
        condition: service_completed_successfully