POSTGRES_PASSWORD=PASSWORD
FLYWAY_PASSWORD=PASSWORD

POSTGRES_USER=pguser
FLYWAY_USER=pguser

FLYWAY_URL=jdbc:postgresql://postgres:5432/postgres

PUBLIC_IPV4=IPV4_ADDRESS

SITE_ADDR=example.com

# keycloak
KEYCLOAK_POSTGRES_DB=...
KEYCLOAK_POSTGRES_USER=...
KEYCLOAK_POSTGRES_PASSWORD=...
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=...
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=...