{
  {$CADDY_GLOBAL_OPTIONS}
}

{$SITE_ADDR} {
  @root path /
  redir @root /v2 permanent

  @api path /v2/api*
  handle @api {
    uri strip_prefix /v2/api
    reverse_proxy server:8080
  }

  handle /v2* {
    reverse_proxy client:3000
  }
}
