name: 'Deploy'
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  repository_dispatch:

jobs:
  deploy:
    name: 'Deploy to Prod'
    runs-on: 'prod'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: 'Create env file'
        run: |
          touch .env
          echo HOSTNAME=docs.yongbeom.com >> .env
          echo APP_URL=https://docs.yongbeom.com/auth >> .env
          echo STORAGE_KEY=${{ secrets.STORAGE_KEY }} >> .env

          echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
          echo FLYWAY_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env

          echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
          echo FLYWAY_USER=${{ secrets.POSTGRES_USER }} >> .env

          echo FLYWAY_URL=jdbc:postgresql://postgres:5432/postgres
          cat .env

      - name: Deploy
        run: make start_detached