name: 'Deploy'
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  repository_dispatch:

jobs:
  deploy:
    name: 'Deploy to Prod'
    runs-on: 'prod'
    steps:
      - name: Prune docker volumes
        run: |
          docker system prune -af
      - name: Checkout
        uses: actions/checkout@v6
      - name: 'Create env file'
        run: |
          touch .env

          echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
          echo FLYWAY_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env

          echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
          echo FLYWAY_USER=${{ secrets.POSTGRES_USER }} >> .env

          echo FLYWAY_URL=jdbc:postgresql://postgres:5432/postgres >> .env
          echo SITE_ADDR=https://hydragen.senpailearn.com >> .env

          echo KEYCLOAK_POSTGRES_DB=${{ secrets.KEYCLOAK_POSTGRES_DB }} >> .env
          echo KEYCLOAK_POSTGRES_USER=${{ secrets.KEYCLOAK_POSTGRES_USER }} >> .env
          echo KEYCLOAK_POSTGRES_PASSWORD=${{ secrets.KEYCLOAK_POSTGRES_PASSWORD }} >> .env
          echo KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=${{ secrets.KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME }} >> .env
          echo KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=${{ secrets.KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD }} >> .env
          
          cat .env

      - name: Deploy
        run: make start_detached-cx23